{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Shows list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Cinema</th>
                <th>Movie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('show_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datetime %}{{ entity.datetime|date('j F Y') }}{% endif %}</td>
                <td>{% if entity.datetime %}{{ entity.datetime|date('H:i') }}{% endif %}</td>
                <td>{{ entity.getCinema().getNumber() }}</td>
                <td>{{ entity.getMovie().getTitle() }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('show_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('show_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('show_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
