{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Showschema</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.datetime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Cinema</th>
            <td>{{ entity.getCinema().getNumber() }}</td>
        </tr>
        <tr>
            <th>Movie</th>
            <td>{{ entity.getMovie().getTitle() }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('showschema') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('showschema_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
